@charset "UTF-8";
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@keyframes color {
  0% {
    background: #0900b4;
  }
  20% {
    background: hsl(284, 96%, 34%);
  }
  40% {
    background: #ed0023;
  }
  60% {
    background: #2c0254;
  }
  80% {
    background: #07a7d3;
  }
  100% {
    background: #c1009a;
  }
}
body {
  background: #33cccc; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

h1 {
  text-align: center;
  font-family: "Kavoon", sans-serif;
  font-size: 2.5em;
  color: white;
}

.div-mayor {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: red;
  flex-wrap: wrap;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 10px;
  border-radius: 1rem;
}

.div-general-active-one {
  margin-top: 100px;
}

.div-body {
  margin-bottom: 120px;
}

.card-personal {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 40px;
}

.card_1 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(to top, #aa0505 20%, #fbca03 100%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
}

.card_person_1 {
  background-image: url(/IMG/IronMan.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid #a8170a;
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(174, 63, 16);
}

.card_media_1 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_2 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-20deg, rgba(86, 140, 239, 0.8901960784) 10%, darkblue 80%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
}

.card_person_2 {
  background-image: url(/IMG/Thor.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(0, 31, 170, 0.8352941176);
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(0, 76, 255);
}

.card_media_2 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_3 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-20deg, rgb(255, 0, 0) 0%, #2b00c6 100%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
  flex-wrap: wrap;
}

.card_person_3 {
  background-image: url(/IMG/Spiderman.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid #070e8b;
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(255, 0, 0);
}

.card_media_3 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_4 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-20deg, rgb(20, 2, 2) 0%, #59005f 100%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
}

.card_person_4 {
  background-image: url(/IMG/BlackWidow.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid #450457;
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(71, 10, 120);
}

.card_media_4 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_5 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-20deg, rgb(3, 16, 134) 10%, rgb(7, 0, 0) 100%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
}

.card_person_5 {
  background-image: url(/IMG/CapitanAmerica.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid rgb(4, 4, 99);
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_5 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(19, 17, 97);
}

.card_media_5 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_6 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-20deg, rgb(54, 211, 22) 2%, #100311 60%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
}

.card_person_6 {
  background-image: url(/IMG/Hulk.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(14, 66, 3, 0.7960784314);
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_6 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(11, 145, 25);
}

.card_media_6 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_7 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-20deg, rgb(31, 2, 123) 2%, #260329 60%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
}

.card_person_7 {
  background-image: url(/IMG/OjoDeHalcon.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid #2c012f;
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_7 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(47, 4, 82);
}

.card_media_7 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_8 {
  width: 330px;
  min-height: 400px;
  background-color: #e7e4e4;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-20deg, rgb(0, 26, 255) 20%, rgb(113, 9, 9) 70%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.3px;
}

.card_person_8 {
  background-image: url(/IMG/CapitanaMarvel.png);
  width: 110px;
  background-size: cover;
  background-position: center;
  border: 7px solid red;
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_8 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(142, 142, 5);
}

.card_media_8 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_9 {
  width: 330px;
  min-height: 400px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(1, 107, 1) 10%, rgba(255, 217, 0, 0.898) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
  padding: 0.3px;
  text-align: center;
}

.card_person_9 {
  background-image: url(/IMG/Visión.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #256533;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_9 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(42, 86, 43);
}

.card_media_9 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  display: flex;
  justify-content: center;
}

.card_10 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(38, 1, 1) 10%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
  text-align: center;
  padding: 0.3px;
}

.card_person_10 {
  background-image: url(/IMG/BlackPanther.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #020202;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_10 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.card_media_10 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_11 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgba(140, 129, 133, 0.418) 10%, rgb(11, 6, 6) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_11 {
  background-image: url(/IMG/Falcon.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #020202;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_11 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.card_media_11 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_12 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(209, 14, 14) 10%, rgb(13, 2, 2) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_12 {
  background-image: url(/IMG/HombreHormiga.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #020202;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_12 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(206, 5, 5);
}

.card_media_12 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_13 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(225, 255, 0) 4%, rgb(3, 1, 1) 110%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_13 {
  background-image: url(/IMG/Avispa.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgb(156, 134, 10);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_13 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(160, 178, 25);
}

.card_media_13 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_14 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(247, 57, 57) 10%, rgb(6, 33, 75) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_14 {
  background-image: url(/IMG/DoctorStrange.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #520c0c;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_14 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(125, 64, 64);
}

.card_media_14 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_15 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(113, 112, 112) 0%, rgb(13, 2, 2) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_15 {
  background-image: url(/IMG/MaquinaDeGuerra.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #020202;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_15 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(64, 61, 61);
}

.card_media_15 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_16 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(209, 14, 14) 10%, rgb(13, 2, 2) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_16 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(90, 5, 5) 10%, rgb(16, 15, 15) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_16 {
  background-image: url(/IMG/BrujaEscarlata.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #020202;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_16 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(84, 0, 0);
}

.card_media_16 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_17 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(4, 255, 0) 10%, rgb(125, 10, 134) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_17 {
  background-image: url(/IMG/She-Hulk.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #391740;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_17 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(0, 255, 76);
}

.card_media_17 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_18 {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #e7e4e4;
  margin-top: 70px;
  text-align: center;
  padding: 0.3px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(rgb(114, 114, 114) 10%, rgb(0, 34, 255) 100%);
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.card_person_18 {
  background-image: url(/IMG/Quicksilver.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #172e40;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_18 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(121, 121, 121);
}

.card_media_18 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_19 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(11, 220, 11) 0%, gold 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_19 {
  background-image: url(/IMG/Loki.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #3a9037;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_19 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(3, 109, 3);
}

.card_media_19 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_20 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(gold 0%, rgb(242, 0, 255) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_20 {
  background-image: url(/IMG/Thanos.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #d534d0;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_20 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(195, 0, 238);
}

.card_media_20 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_21 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(11, 220, 11) 0%, rgb(18, 6, 6) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_21 {
  background-image: url(/IMG/DoctorDoom.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #0f400d;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_21 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(48, 69, 48);
}

.card_media_21 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_22 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(33, 69, 33) 0%, rgb(11, 10, 10) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_22 {
  background-image: url(/IMG/greenGoblin.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #162412;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_22 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(11, 91, 11);
}

.card_media_22 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_23 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(52, 2, 2) 0%, rgb(71, 4, 4) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_23 {
  background-image: url(/IMG/Magneto.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid #470403;
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_23 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(103, 1, 1);
}

.card_media_23 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_24 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(99, 2, 2) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_24 {
  background-image: url(/IMG/RedSkull.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(30, 0, 0, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_24 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.card_media_24 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_25 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(109, 109, 109) 0%, rgb(75, 75, 75) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_25 {
  background-image: url(/IMG/Ultron.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(106, 106, 106, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_25 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(124, 124, 124);
}

.card_media_25 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_26 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_26 {
  background-image: url(/IMG/Venom.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(0, 0, 0, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_26 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.card_media_26 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_27 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(15, 5, 80) 0%, rgb(35, 35, 35) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_27 {
  background-image: url(/IMG/Kingpin.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(14, 5, 43, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_27 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(12, 2, 54);
}

.card_media_27 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_28 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(58, 46, 24) 0%, rgb(86, 22, 22) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_28 {
  background-image: url(/IMG/DoctorOctupus.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgb(46, 17, 17);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_28 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(78, 28, 28);
}

.card_media_28 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_29 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(17, 44, 18) 0%, rgb(54, 107, 53) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_29 {
  background-image: url(/IMG/Abdominación.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(30, 63, 25, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_29 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(16, 57, 10);
}

.card_media_29 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_30 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(75, 168, 67) 0%, rgb(130, 197, 93) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_30 {
  background-image: url(/IMG/HarryOsborn.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(3, 45, 18, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_30 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(2, 98, 41);
}

.card_media_30 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_31 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(10, 124, 0) 20%, rgb(18, 7, 7) 80%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_31 {
  background-image: url(/IMG/Hela.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(17, 22, 19, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_31 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(30, 34, 32);
}

.card_media_31 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_32 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(0, 0, 0) 0%, gold 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_32 {
  background-image: url(/IMG/KillmongerPanther.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(167, 133, 11, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_32 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: gold;
}

.card_media_32 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_33 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(75, 168, 67) 0%, rgb(130, 197, 93) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_33 {
  background-image: url(/IMG/Lagarto.webp);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(3, 45, 18, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_33 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(2, 98, 41);
}

.card_media_33 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_34 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(14, 124, 141) 0%, rgb(22, 153, 197) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_34 {
  background-image: url(/IMG/Mystique.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(16, 117, 176, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_34 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(13, 94, 130);
}

.card_media_34 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_35 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(72, 71, 71) 0%, rgb(59, 58, 58) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_35 {
  background-image: url(/IMG/Rhino.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(52, 54, 53, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_35 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(101, 113, 106);
}

.card_media_35 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

.card_36 {
  width: 330px;
  min-height: 400px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #e7e4e4;
  border-radius: 10px;
  background-image: linear-gradient(rgb(164, 186, 1) 0%, rgb(54, 153, 0) 100%);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  padding: 0.3px;
  text-align: center;
}

.card_person_36 {
  background-image: url(/IMG/MisterioAlaOrden.png);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border: 7px solid rgba(0, 139, 49, 0.8274509804);
  margin-top: 105px;
  border-radius: 50%;
}

.card_name_36 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(34, 243, 117);
}

.card_media_36 {
  margin-top: 40px;
  width: 100%;
  height: 90px;
  border: 1px solid #ffb199;
  justify-content: center;
}

#arrows {
  width: 140px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.arrowRight {
  width: 140px;
  height: 200px;
  margin-left: 20px;
}

.arrowLeft {
  width: 140px;
  height: 200px;
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */