*{
   margin: 0;
   border: 0;
   box-sizing: border-box;
   text-decoration: none;
}

@keyframes color {
   0%   { background: #0900b4; }
   20%  { background: hsl(284, 96%, 34%); }
   40%  { background: #ed0023; }
   60%  { background: #2c0254; }
   80%  { background: #07a7d3; }
   100% { background: #c1009a; }
 }
 
 body {
   background: #33CCCC; /* Fallback */
   animation: color 9s infinite linear;
   text-align: center;
   padding: 2em;
 }
 h1 {
   text-align: center;
   font-family: 'Kavoon', sans-serif;
   font-size: 2.5em;
   color: white;
 }
 

   .div-mayor{
      display: flex;
      justify-content: space-around;
      margin: auto;
      width: 100%;
      height: 100%;
     background-color:red;
     flex-wrap:wrap;
     text-decoration: none;
     text-align: center;
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     padding: 10px;
     border-radius: 1rem;
     
  }
  

.div-body{
   margin-bottom: 120px;
}

.card-personal{
   display: flex;
   margin: 0 auto;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
}
.card_1{
   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(to top,#aa0505 20%, #fbca03 100%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
}
.card_person_1{
   background-image: url(/IMG/IronMan.png);
   width: 110px;
   background-size: cover;
   background-position: center;
   border: 7px solid #a8170a;
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;
   
}

.card_name_1{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(174, 63, 16);
}
.card_media_1{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}


// Thor

.card_2{
   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(-20deg, #568cefe3 10%, darkblue 80%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
}
.card_person_2{
   background-image: url(/IMG/Thor.png);
   width: 110px;
   background-size: cover;
   background-position: center;
   border: 7px solid #001faad5;
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;
}

.card_name_2{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(0, 76, 255);
}
.card_media_2{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}

   // Spiderman

.card_3{

   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(-20deg, rgb(255, 0, 0) 0%, #2b00c6 100%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
  flex-wrap: wrap;
  
  
}


.card_person_3{
   background-image: url(/IMG/Spiderman.png);
   width: 110px;
   background-size: cover;
   background-position: center;
   border: 7px solid #070e8b;
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;
}

.card_name_3{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(255, 0, 0);
}
.card_media_3{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}

//Black Widow
.card_4{

   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(-20deg, rgb(20, 2, 2) 0%, #59005f 100%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
}


.card_person_4{
   background-image: url(/IMG/BlackWidow.png);
   width: 110px;
   background-size: cover;
   background-position: center;
   border: 7px solid #450457;
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;
}

.card_name_4{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(71, 10, 120);
}
.card_media_4{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}

//Capitan América

.card_5{

   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(-20deg, rgb(3, 16, 134) 10%, rgb(7, 0, 0) 100%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
}


.card_person_5{
   background-image: url(/IMG/CapitanAmerica.png);
   width: 110px;
   background-size: cover;
   background-position: center;
   border: 7px solid rgb(4, 4, 99);
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;
}

.card_name_5{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(19, 17, 97);
}
.card_media_5{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}


//Hulk
.card_6{

   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(-20deg, rgb(54, 211, 22) 2%, #100311 60%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
}


.card_person_6{
   background-image: url(/IMG/Hulk.png);
   width: 110px;
   background-size: cover;
   background-position: center;
   border: 7px solid #0e4203cb;
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;
}

.card_name_6{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(11, 145, 25);
}
.card_media_6{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}

// Ojo de halcon
.card_7{

   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(-20deg, rgb(31, 2, 123) 2%, #260329 60%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
}


.card_person_7{
   background-image: url(/IMG/OjoDeHalcon.png);
   width: 110px;
   background-size: cover;
   background-position: center;
   border: 7px solid #2c012f;
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;
}

.card_name_7{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(47, 4, 82);
}
.card_media_7{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}

.card_8{
   width: 330px;
   min-height: 400px;
   background-color: #e7e4e4;
   margin: 0 auto;
   margin-top: 70px;
   border-radius: 10px;
   box-shadow:  6px 6px 20px rgba(0,0,0,0.24);
   background-image: linear-gradient(-20deg, rgb(0, 26, 255) 20%,rgb(113, 9, 9) 70%);
   background-size: 100% 150px;
   background-repeat: no-repeat;
   text-align: center;
   padding: .3px;
}
.card_person_8{
   background-image: url(/IMG/CapitanaMarvel.png);
   width: 110px;
   background-size:cover;
   background-position: center;
   border: 7px solid red;
   height: 110px;
   margin: 0 auto;
   margin-top: 105px;
   border-radius: 50%;

}
.card_name_8{
   margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(142, 142, 5);

}
.card_media_8{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border-top: 1px solid #ffb199;
   display: flex;
   justify-content: center;
}

.card_9{
 width: 330px;
 min-height: 400px;
 margin: 0 auto;
 background-color: #e7e4e4;
 margin-top: 70px;
 border-radius: 10px;
 box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
 background-image: linear-gradient(rgb(1, 107, 1) 10%,rgba(255, 217, 0, 0.898) 100%);
 background-repeat: no-repeat;
 background-size: 100% 150px;
 padding: .3px;
 text-align: center;
}
.card_person_9{
   background-image: url(/IMG/Visión.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid #256533;
   margin-top: 105px;
  border-radius: 50%;

}
.card_name_9{

   margin-top: 20px;
   margin-bottom: 10px;
   color:rgb(42, 86, 43) ;

}
.card_media_9{
margin-top: 40px;
width: 100%;
height: 90px;
border: 1px solid #ffb199;
display: flex;
justify-content: center;
}


.card_10{
width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgb(38, 1, 1)10%,rgb(0,0,0)100%);
background-repeat: no-repeat;
background-size: 100% 150px;
text-align: center;
padding: .3px;
}
.card_person_10{
   background-image: url(/IMG/BlackPanther.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid #020202;
   margin-top: 105px;
  border-radius: 50%;
}
.card_name_10{
margin-top: 20px;
margin-bottom: 10px;
color: black;
}
.card_media_10{
margin-top: 40px;
width: 100%;
height: 90px;
border: 1px solid #ffb199;
justify-content: center;
}

.card_11{
   width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
text-align: center;
padding: .3px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgba(140, 129, 133, 0.418)10%,rgb(11, 6, 6)100%);
background-repeat: no-repeat;
background-size: 100% 150px;

}
.card_person_11{
   background-image: url(/IMG/Falcon.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid #020202;
   margin-top: 105px;
  border-radius: 50%;
}
.card_name_11{
   margin-top: 20px;
margin-bottom: 10px;
color: black;

}
.card_media_11{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border: 1px solid #ffb199;
   justify-content: center;
}


.card_12{
   width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
text-align: center;
padding: .3px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgb(209, 14, 14)10%,rgb(13, 2, 2)100%);
background-repeat: no-repeat;
background-size: 100% 150px;

}
.card_person_12{
   background-image: url(/IMG/HombreHormiga.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid #020202;
   margin-top: 105px;
  border-radius: 50%;
   
}
.card_name_12{
margin-top: 20px;
margin-bottom: 10px;
color: rgb(206, 5, 5);
}
.card_media_12{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border: 1px solid #ffb199;
   justify-content: center;

}



.card_13{
   width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
text-align: center;
padding: .3px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgb(225, 255, 0)4%,rgb(3, 1, 1)110%);
background-repeat: no-repeat;
background-size: 100% 150px;

}
.card_person_13{
   background-image: url(/IMG/Avispa.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid rgb(156, 134, 10)  ;
   margin-top: 105px;
  border-radius: 50%;
   
}
.card_name_13{
margin-top: 20px;
margin-bottom: 10px;
color: rgb(160, 178, 25);
}
.card_media_13{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border: 1px solid #ffb199;
   justify-content: center;

}

.card_14{
   width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
text-align: center;
padding: .3px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgb(247, 57, 57)10%,rgb(6, 33, 75)100%);
background-repeat: no-repeat;
background-size: 100% 150px;

}
.card_person_14{
   background-image: url(/IMG/DoctorStrange.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid #520c0c;
   margin-top: 105px;
  border-radius: 50%;
   
}
.card_name_14{
margin-top: 20px;
margin-bottom: 10px;
color: rgb(125, 64, 64);
}
.card_media_14{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border: 1px solid #ffb199;
   justify-content: center;

}


.card_15{
   width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
text-align: center;
padding: .3px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgb(113, 112, 112) 0%,rgb(13, 2, 2)100%);
background-repeat: no-repeat;
background-size: 100% 150px;

}
.card_person_15{
   background-image: url(/IMG/MaquinaDeGuerra.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid #020202;
   margin-top: 105px;
  border-radius: 50%;
   
}
.card_name_15{
margin-top: 20px;
margin-bottom: 10px;
color: rgb(64, 61, 61);
}
.card_media_15{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border: 1px solid #ffb199;
   justify-content: center;

}

.card_16{
   width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
text-align: center;
padding: .3px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgb(209, 14, 14)10%,rgb(13, 2, 2)100%);
background-repeat: no-repeat;
background-size: 100% 150px;

}



.card_16{
width: 330px;
min-height: 400px;
border-radius: 10px;
margin: 0 auto;
background-color: #e7e4e4;
margin-top: 70px;
text-align: center;
padding: .3px;
box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
background-image:linear-gradient(rgb(90, 5, 5)10%,rgb(16, 15, 15)100%);
background-repeat: no-repeat;
background-size: 100% 150px;

}
.card_person_16{
   background-image: url(/IMG/BrujaEscarlata.png);
   width: 110px;
   height: 110px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   border: 7px solid #020202;
   margin-top: 105px;
  border-radius: 50%;
   
}
.card_name_16{
margin-top: 20px;
margin-bottom: 10px;
color: rgb(84, 0, 0);
}
.card_media_16{
   margin-top: 40px;
   width: 100%;
   height: 90px;
   border: 1px solid #ffb199;
   justify-content: center;
}




.card_17{
   width: 330px;
   min-height: 400px;
   border-radius: 10px;
   margin: 0 auto;
   background-color: #e7e4e4;
   margin-top: 70px;
   text-align: center;
   padding: .3px;
   box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
   background-image:linear-gradient(rgb(4, 255, 0)10%,rgb(125, 10, 134)100%);
   background-repeat: no-repeat;
   background-size: 100% 150px;
   
   }
   .card_person_17{
      background-image: url(/IMG/She-Hulk.png);
      width: 110px;
      height: 110px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      border: 7px solid #391740;
      margin-top: 105px;
     border-radius: 50%;
      
   }
   .card_name_17{
   margin-top: 20px;
   margin-bottom: 10px;
   color: rgb(0, 255, 76);
   }
   .card_media_17{
      margin-top: 40px;
      width: 100%;
      height: 90px;
      border: 1px solid #ffb199;
      justify-content: center;
   }

   .card_18{
      width: 330px;
      min-height: 400px;
      border-radius: 10px;
      margin: 0 auto;
      background-color: #e7e4e4;
      margin-top: 70px;
      text-align: center;
      padding: .3px;
      box-shadow: 6px 6px 20px rgba(0,0,0,0.24);
      background-image:linear-gradient(rgb(114, 114, 114)10%,rgb(0, 34, 255)100%);
      background-repeat: no-repeat;
      background-size: 100% 150px;
      
      }
      .card_person_18{
         background-image: url(/IMG/Quicksilver.png);
         width: 110px;
         height: 110px;
         margin: 0 auto;
         background-size: cover;
         background-position: center;
         border: 7px solid #172e40;
         margin-top: 105px;
        border-radius: 50%;
         
      }
      .card_name_18{
      margin-top: 20px;
      margin-bottom: 10px;
      color: rgb(121, 121, 121);
      }
      .card_media_18{
         margin-top: 40px;
         width: 100%;
         height: 90px;
         border: 1px solid #ffb199;
         justify-content: center;
      }
      
      


